# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
backend/db.sqlite3
backend/media/
backend/staticfiles/

# Environment
.env
backend/.env
frontend/.env

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db