# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env
backend/.env
frontend/.env

# Django
db.sqlite3
*.log
backend/media/
backend/staticfiles/

# Node / React
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db