DEBUG=True
SECRET_KEY=your-secret-key

DB_NAME=velmora
DB_USER=postgres
DB_PASSWORD=your-database-password
DB_HOST=localhost
DB_PORT=5432
FRONTEND_URL=http://localhost:5173
DEFAULT_FROM_EMAIL=noreply@velmora.local